.test-warning {
    font-size: 20px;
    text-align: center;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    margin-top: 10px
}
.warning{
    color: red
}

